page-parlaments {
    .background-parlamentar{
        background: url('../assets/imgs/background2.jpg') no-repeat center;
        color: #fff;
    }
  
    .infinite-loading-text{
        color: #fff
    }
}
 